<?php

return [

    [
        'organisation' => 'INEX',   // IX-F exports can include multiple 'IXPs' (e.g. >1 peering LAN). This field allows use to group them.
        'name'      => "INEX",
        'shortname' => 'INEX',
        'country'   => 'IE',
        'schema'    => "https://www.inex.ie/ixp/api/v4/member-export/ixf/0.6"
    ],

    // ...

];
