<?php

return [

    [
        'name'      => "INEX",
        'shortname' => 'INEX',
        'country'   => 'IE',
        'schema'    => "https://www.inex.ie/ixp/api/v4/member-export/ixf/0.6"
    ],

    // ...

];
